page {
	background-color: #EDF0F2;
}

form {
	display: block;
}

/* 上边距 */
.c-gutter-xs {
	margin-top: 5px;
}

.c-gutter-sm {
	margin-top: 10px;
}

.c-gutter-md {
	margin-top: 12px;
}

.c-gutter-lg {
	margin-top: 16px;
}

.c-gutter-xl {
	margin-top: 20px;
}

/* 按钮 */
.c-submit-button {
	height: 42px;
	margin: 20px 16px;
	border-radius: 6px;
	font-size: 16px;
	line-height: 42px;
	color: #ffffff;
	background-color: #1897F2;
}
.c-submit-button-fixed {
	border-top: 1px solid #DFE3E6;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ffffff;
}
.c-submit-button-fixed .c-submit-button {
		margin-top: 10px;
		margin-bottom: 10px;
	}

/* 表单label宽度统一设置 */
.c-form_label-width-sm .c-form-item-label {
	width: 60px;
}
.c-form_label-width-md .c-form-item-label {
	width: 82px;
}
.c-form_label-width-lg .c-form-item-label {
	width: 100px;
}
.c-form_label-row .c-form-item-label {
	width: 100%;
	padding-right: 0;
}

// 通用卡片样式
.c-card {
	// margin-top: 12px;
	padding: 0 16px 16px;
	background-color: #ffffff;
}
.c-card-header {
	padding: 16px 0;
	font-size: 17px;
	font-weight: 800;
	color: #21272B;
}
.c-card-body {
	font-size: 16px;
	line-height: 26px;
	color: #6C7880;
}