page {
	background-color: #EDF0F2;
}

/* 上边距 */
.c-gutter-xs {
	margin-top: 5px;
}

.c-gutter-sm {
	margin-top: 10px;
}

.c-gutter-md {
	margin-top: 12px;
}

.c-gutter-lg {
	margin-top: 16px;
}

.c-gutter-xl {
	margin-top: 20px;
}

/* 按钮 */
.c-submit-button {
	height: 42px;
	margin: 20px 16px;
	border-radius: 6px;
	font-size: 16px;
	line-height: 42px;
	color: #ffffff;
	background-color: #1897F2;
}

/* 表单label宽度统一设置 */
.c-form_label-width-sm .c-form-item-label {
	width: 60px;
}
.c-form_label-width-md .c-form-item-label {
	width: 82px;
}
.c-form_label-width-lg .c-form-item-label {
	width: 100px;
}