$A01: #D7EDFC; // 选中背景
$A02: #AFDBFA;
$A03: #89CBFA;
$A04: #63BAF7;
$A05: #3DA8F5; // 选中描边 主色hover
$A06: #1897F2; // 主色美的蓝
$A07: #107CC9; // 主色点击
$A08: #0B62A1;
$A09: #064878; // 深色背景1
$A10: #023152; // 深色背景2
$A11: #011829; // 深色背景3 标题文字
$A12: #0893FF;

$M01: #FFFFFF;
$M02: #F7F9FA; // 浅色背景1
$M03: #EDF0F2; // 浅色背景2
$M04: #DFE3E6; // 线条描边
$M05: #CBD2D6; // 失效图标
$M06: #B0B9BF; // 弱图标 失效文字
$M07: #919CA3; // 强图标 弱提示文字
$M08: #6C7880; // 次要文字
$M09: #434D54; // 次要文字按钮
$M10: #21272B; // 正文
$M11: #000000;

$M12: #999999;
$M13: #E4E7ED;
$M14: #6C7780;
$M15: #DCDFE6;
$M16: #606266;
$M17: #3AC982;
$M18: #F56C6C;
$M19: #6C7880;

$B05: #40AFFF;
$B06: #1897F2; // 可点击
$R01: #FCE1E1;
$R06: #F25555; // 错误/危险
$Y01: #FFEEDE;
$Y06: #FF9933; // 预警/提示
$G01: #D3F5E4;
$G06: #1DBF6E; // 成功/安全

$C01: #FA8057;
$C02: #EBB000;
$C03: #83C740;
$C04: #4CC76A;
$C05: #0AC798;
$C06: #22B5E6;
$C07: #499DF2;
$C08: #6D8EF2;
$C09: #9880E0;
$C10: #C27ED9;
$C11: #F279B6;
$C12: #FA7898;